# Linguist language-encoded asset files
*.glsl       linguist-language=GLSL
*.dae        linguist-language=COLLADA
*.dae_anim   linguist-language=COLLADA
*.hps        linguist-language=AngelScript

# Asset files
*.cfg        text diff=xml
*.skin       text diff=xml
*.ent        text diff=xml
*.mat        text diff=xml
*.map        text diff=xml
*.ps         text diff=xml
*.snt        text diff=xml
*.comment    text diff=xml
*.flash      text diff=xml
*.sav        text diff=xml
*.save       text diff=xml
*.nodes      text diff=xml

# Cache files (usually ignored)
*.msh        binary
*.anm        binary
*.map_cache  binary
